.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expansion-container {
    width: 80%;
}

.question-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.add-new-question-container {
    width: 50%;
    margin: 20px;
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullwidth {
    width: 100%;
}