<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Register
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="register-form">
        <mat-form-field class="inputlength">
          <input matInput [(ngModel)]="registerModel.FirstName" placeholder="FirstName" required>
        </mat-form-field>
        <mat-form-field class="inputlength">
          <input matInput [(ngModel)]="registerModel.LastName" placeholder="LastName" required>
        </mat-form-field>
        <mat-form-field class="inputlength">
          <input matInput [(ngModel)]="registerModel.Email" placeholder="Email" required>
        </mat-form-field>
        <mat-form-field class="inputlength">
          <input matInput type="password" [(ngModel)]="registerModel.Password" placeholder="Password" required>
        </mat-form-field>
        <mat-form-field class="inputlength">
          <input matInput type="password" [(ngModel)]="rpassword" placeholder="Repeat password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Role">
            <mat-option *ngFor="let role of roles;let i = index" (click)="updateRole(i)">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="register()">Register</button>
      </div>
      <p *ngIf="invalidData" style="color: red;"><b>Invalid Credentials</b></p>
    </mat-card-content>
  </mat-card>
</div>